body {
  background: linear-gradient(270deg, rgb(198, 228, 238), rgb(241, 235, 235), rgb(198, 228, 238));
  background-size: 600% 600%;
  animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.weisses-feld{
    width: 700px;
    height: 880px;
    border-radius: 50px ;
    box-shadow:  10px 10px 20px lightslategrey;
    padding: 40px 75px 0 75px;
    margin: auto;
    background-color: rgb(241, 235, 235);
    font-family: Arial;
    line-height: 1.5;
}



.Beschreibung{
color: black;

}
.Lebenslauf,
.Motivationsschreiben,
.Zeugnisse-Sekundarstufe,
.Stellwerktest,
.Multicheck {
  display: block;          
  width: 400px;
  background-color: rgb(198, 228, 238);
  font-size: 25px;
  border-radius: 10px;
  margin: auto 0 25px 0;
  padding: 5px;
  color: black;
  text-decoration: none;
  border: solid 2px black;
  box-shadow:  10px 10px 20px lightslategray;
}

.profilbild{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 0 0 0 auto;
  box-shadow:  10px 10px 20px lightslategray;
  border: solid 2px black;
}


.kopfbereich {
  display: flex;
  align-items: flex-start;
  gap: 40px; 
}

.kopfinhalt {
  flex: 1;
}



.button-und-kontakt {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.button-bereich {
  flex: 2;
}

.kontakt-bereich {
  flex: 1;
  background: rgb(198, 228, 238); 
  border-radius: 15px;
  padding: 20px;
  box-shadow:  10px 10px 20px lightslategray;
  font-size: 18px;
  border: solid 2px black;
  margin-bottom: 25px;
}
